body {
  margin: 0;
    font-family:  'Roboto', 'Arial','Helvetica',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropbtn {
  background-color: #ffffff;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropbtn.active{
  background-color: red;
}
.btns{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.dropdown {
  position: relative;
  display:inline-block;
  gap: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  transition: all 2s ease;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.shopping-button.active{
  color: blue;
}
.api-image{
  border: 1px solid rgb(118, 116, 116);
  border-radius: 10px;
  
}
.frame-select{
  width: 250px;
  height: 30px;
  
}
.frame-btn{
  background-color: #687eb3;
  width: 250px;
  height: 30px;
  color: #fff;
  border: 1px solid rgb(117, 112, 112);
  transition: all 0.4s ease;
}
.frame-btn:hover{
  background-color: #fff;
  color: #687eb3;
}
.option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frame-img{
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #000;
}
.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 5px 0;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
}